/****************
	VARIABLES  
****************/

// Colors
$black: #333333;
$secondary: #FFA900; // yellow
$grey4: #f2f2f2;
$grey3: #999999;

$primary: $black;


// Fonts
$mont: 'Montserrat', sans-serif;
$montreg: 400;
$montbold: 700;
$source: 'Source Sans Pro', sans-serif;

:selection {
  color: #fff;
  background-color: $primary;
}

::-moz-selection {
	color:#fff;
	background-color: $primary;
}
