@import '../base/_variables.scss'; 


.home {	
	padding: 30px;
	.content {
		margin: 0 auto;
		background: #eeeeee;
		padding: 50px;
		position: relative;
		max-width: 400px;
		.title {
			position: absolute;
			left: -45px;
			top: -90px;
			font-size: 110px;
			font-family: $mont;
			font-weight: $montbold;;
		}

		.desc {
			padding-left: 100px;
			position: relative;
			&:before {
				content: "";
				position: absolute;
				left: 0;
				top: 8px;
				width: 80px;
				height: 1px;
				background-color: $black;
			}
		}
	}
	.scroll {
		position: absolute;
		bottom: 14px;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
		color: $black;
		text-transform: uppercase;
		&:after {
			content: "";
			display: inline-block;
			width: 1px;
			height: 35px;
			background-color: $black;
		}
	}
}