@import '../base/_variables.scss'; 


.number {


	.half {
		width: 50%;
		float: left;
		height: 100%;
		line-height: 100%;
		padding: 45px;
		text-align: center;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		position: relative;
		overflow: hidden;
	}

	.header,
	.desc {
		display: block;
		line-height: 1.5em;
		text-align: left;
		max-width: 320px;
		padding: 0 15px;
		margin: 0 auto;	
	}

	.title {

		font-size: 110px;
		line-height: 1.1em;
		font-weight: $montbold;
		margin-bottom: 50px;
		span {
			display: block;
			color: $secondary;
			font-size: 35px;
			line-height: 1.1em;
			font-family: $serif;
			font-style: italic;
		}
	}

	.desc {
		padding-left: 100px;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			left: 15px;
			top: 8px;
			width: 65px;
			height: 1px;
			background-color: $grey3;
		}
	}

	.pager {
		font-size: 463px;
		line-height: .5em;
		position: absolute;
		bottom: -27px;
		right: -66px;
		z-index: -1;
		color: $grey4;
		font-family: $mont;
	}

	/*------------------------------
		animations
	------------------------------*/
	.key1 {
		-webkit-animation: push 5s;
		        animation: push 5s;
		-webkit-animation-iteration-count: infinite;
		        animation-iteration-count: infinite;
	}


	@-webkit-keyframes push {
		0% {
			-webkit-transform: translate3d(0,0,0);
			        transform: translate3d(0,0,0);
		}
		5% {
			-webkit-transform: translate3d(10px, 14px,0);
			        transform: translate3d(10px, 14px,0);
		}	
		10% {
			-webkit-transform: translate3d(0,0,0);
			        transform: translate3d(0,0,0);
		}		
		15% {
			-webkit-transform: translate3d(10px, 14px,0);
			        transform: translate3d(10px, 14px,0);
		}		
		20% {
			-webkit-transform: translate3d(0,0,0);
			        transform: translate3d(0,0,0);
		}
		100% {
			-webkit-transform: translate3d(0,0,0);
			        transform: translate3d(0,0,0);
		}
	}
@keyframes push {
		0% {
			-webkit-transform: translate3d(0,0,0);
			        transform: translate3d(0,0,0);
		}
		5% {
			-webkit-transform: translate3d(10px, 14px,0);
			        transform: translate3d(10px, 14px,0);
		}	
		10% {
			-webkit-transform: translate3d(0,0,0);
			        transform: translate3d(0,0,0);
		}		
		15% {
			-webkit-transform: translate3d(10px, 14px,0);
			        transform: translate3d(10px, 14px,0);
		}		
		20% {
			-webkit-transform: translate3d(0,0,0);
			        transform: translate3d(0,0,0);
		}
		100% {
			-webkit-transform: translate3d(0,0,0);
			        transform: translate3d(0,0,0);
		}
	}
}


