@import '../base/_variables.scss'; 

#bar--transition {
	position: absolute;
	background: $black;
	bottom: 0;
	right: 0;
	left: 50%;
	height: 14px;
	transform-origin: 100% 100%;
}

.number {


	.half {
		width: 50%;
		float: left;
		height: 100%;
		line-height: 100%;
		padding: 45px;
		text-align: center;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		overflow: hidden;
	}

	.header,
	.desc {
		display: block;
		line-height: 1.5em;
		text-align: left;
		max-width: 320px;
		padding: 0 15px;
		margin: 0 auto;	
	}

	.title {

		font-size: 110px;
		line-height: 1.1em;
		font-weight: $montbold;
		margin-bottom: 50px;
		span {
			display: block;
			color: $secondary;
			font-size: 35px;
			line-height: 1.1em;
		}
	}

	.desc {
		padding-left: 100px;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			left: 15px;
			top: 8px;
			width: 65px;
			height: 1px;
			background-color: $grey3;
		}
	}

	.pager {
		font-size: 463px;
		line-height: .5em;
		position: absolute;
		bottom: -27px;
		right: -66px;
		z-index: -1;
		color: $grey4;
		font-family: $mont;
	}
}


